.App {
  text-align: center;
}

input {
  box-sizing: border-box;
  font-size: 25px;
  padding: 15px;
  display: block;
  margin: 30px auto;
  width: 400px;
}

/* Pokemon Card */

.container {
  display: flex;
  justify-content: center;
  background-image: url('./imgs/card.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 700px;
  margin: 0 auto;
}

img {
  height: 300px;
  margin-top: 20px;
}

/* Pokemon Details */

.pokemonName {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.divTable {
  display: table;
  display: flex;
  width: 350px;
}

.divTableRow {
  display: table-row;
}

.divTableCell {
  border: 1px solid #999999;
  display: table-cell;
  padding: 2px 10px;
  width: 350px;
  background-color: white;
  font-size: 15px;
}

.divTableBody {
  display: table-row-group;
}

.divTableCell:nth-child(odd) {
  font-weight:600;
}

